#about {
  display: flex;
  width: 100%;
  background-color: #ceede7;
  margin:0 auto;

}


.info {
  padding: 50px 80px;
  line-height: 28px;
  animation: transitionMain 0.5s;
  
}

.about-pic {
  width: 300px;
  border-radius: 200px 200px 0px 0px; 
  float: left;
  margin-right: 80px;
}




@keyframes transitionMain{
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



@media screen and (max-width: 768px) {
 #about {
   width: 100%;
   margin: 0;
   padding: 0;
 }

 
.about-pic {
display: none;
  
}


.info {
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  
}





}