#about {
  width: 100%;
  min-height: 300px;
  background-color: #baded7;
  margin:0 auto;

}

.about-pic {
  width: 200px;
  border-radius: 200px 200px 0px 0px; 
  float: left;
  margin-right: 100px;
}

.info {
  padding: 50px 100px;
  line-height: 24px;
  animation: transitionMain 0.5s;
  
}


@keyframes transitionMain{
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
