#about {
  display: flex;
  width: 100%;
  background-color: #ceede7;
  margin:0 auto;

}


.info {
  padding: 50px 100px;
  line-height: 24px;
  animation: transitionMain 0.5s;
  
}

.about-pic {
  width: 300px;
  border-radius: 200px 200px 0px 0px; 
  float: left;
  margin-right: 100px;
}




@keyframes transitionMain{
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
