/* grid */

.grid-flex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  animation: transitionMain 0.5s;
   
  
}

.col {
  display: flex;
  width: 400px;
  align-content: center;
  flex-grow: 2;
  justify-content: center;
  flex-basis: 33%;
  

}

.col img {
  width: 100%;
  height: auto;
}



.col-4  {
  background: #292e6e;
  color: #daede9;
  max-height: 300px;
  padding: 30px;
  text-align: center;
   font-size: 28px;
  letter-spacing: 2px;


}



@keyframes transitionMain{
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
  .col-1 {
   flex-basis: 100%;
  }
 .col-4 {
  font-size: 22px;
 }
