body {
  font-family: 'PT Serif', Serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: #292e6e; 
  box-sizing: border-box;
}


h1, h2 {
Font-Family: 'Rufina', Serif;
}

h3 {
  font-family: 'Rufina', Serif;
}

header {
   display: flex;
   justify-content: space-between;
   background-color: #141a6b;
   padding: 8px;
  

}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #4e786f;
}


/************* navigation ******************/ 

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo {
  width: 150px;

}

#insta-nav {
  font-size: 24px;
  padding-right: 20px;
  align-self: center;
  
 
}

#insta-nav .fa-instagram {
  color: #baded7;
  display: block;
  
}

#teste .fa-instagram:hover {
  transition: 00.15s all;
  font-size: 28px;
  color: #fff;
}



/************* footer ******************/ 





footer {
  background-color:#ebebeb;
  max-height: 200px;
  text-align: center;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


}

.footer-links {
  font-size: 24px;
 
 
}

.footer-links a {
 margin-right: 20px;
 color: #141a6b;
}

.footer-links a:hover {
  color: #baded7;
  transition: 00.15s all ease-in;
  font-size: 28px;
}






/* instafeed */ 


#instafeed-container a img {
  width: 25%;
  margin: 0;
  padding: 0;

}





@media screen and (max-width: 768px) {

#insta-nav {
  display: none;
}


}