/* sidebar */

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #daf5f0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 80px;
}

.sidebar a {
  margin: 20px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #141a6b;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #afdbd3;
}

.sidebar .closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 42px;
  margin-left: 50px;
}

.closebtn {
  display: block;
    position: fixed;
    top: 0px;
    width: 22px;
    height: 22px;
    transition: transform .25s ease-in-out;
}


.closebtn:before{
	 content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    width: 22px;
    height: 0;
    border-top: 2px solid #141a6b;;
    transform: rotate(45deg);
    transform-origin: center;
}

.closebtn:after {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    width: 22px;
    height: 0;
    border-top: 2px solid #141a6b;;
    transform: rotate(-45deg);
    transform-origin: center;
}
  
 

.closebtn:hover {

	transform: rotate(180deg);
 
}

.openbtn {
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
  
}

.openbtn:hover{
  color: #afdbd3;
  outline: none;
}

.openbtn:active{
  color: #afdbd3;
  outline: none;
}

.fa-home {
  color: #afdbd3;
}

.fa-home:hover {
  color: #141a6b;
  transition: 00.15s all ease-in;
}

@media screen and (max-width: 768px) {
  .sidebar {
    padding-top: 15px;
    text-align: center;
    width: 100%;
  }
  .sidebar a {
    font-size: 32px;
    margin-top: 20px;
    
  }
}